[core]
	editor = \"C:\\Users\\ric\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	excludesfile = \"C:\\Users\\ric\\.gitignore\"
[user]
	email = no modificar
	name = no modificar
[gui]
	recentrepo = no modificar
[init]
	defaultBranch = main
